.translateContainer {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.textareaContainer {
    display: flex;
    flex-direction: column;
    position: relative;

    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid #e9ecef;
    background-color: #fff;
    padding: 8px;
    height: 400px;
}

.clicked {
    border: 2px solid #C8DCA0;
}

.textarea{
    resize: none;
    height: calc(100% - 100px);
    outline: 0px;
    border: 0px;
    padding: 15px 15px;
    position: relative; 
    z-index: 1; 
    font-size: 25px;
}

.dropdown{
    border-bottom: 1px solid #E0E0E0;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.dropdownMenu {
    position: absolute;
    z-index: 1000; /* 다른 요소보다 위에 표시 */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 9px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 300px;
    text-align: center;

}

.menuItem {
    padding: 5px 15px;
    flex: 1 0 calc(100% / 3);
    max-width: calc(100% / 3); /* 최대 3개 아이템이 들어갈 수 있도록 설정 */
    height: 50px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-bottom: 10px;
}

.translateBtnDiv{
    margin-top: auto; /* 위쪽 여백을 자동으로 설정하여 아래에 배치 */
    position: absolute; /* 절대 위치 설정 */
    bottom: 20px; 
    right: 20px;
    text-align: right;
}

.translateBtn{
    width: 100px;
    height: 35px;
    border-radius: 9px;
    background-color: #B7DAA1;
    border: 0px;
}

@media (max-width: 800px) {
    .translateContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .textAreaContainer {
        margin-right: 0; /* 수직 정렬 시에는 마진을 제거하여 수직 정렬 스타일로 변경 */
        margin-bottom: 20px; /* 수직 정렬 시에는 각 textarea 아래 간격 추가 */
    }

    .textarea{
        width: 400px;
    }

    .dropdownMenu {
        width: 400px;
    }
}

@media (min-width: 800px) {
    .translateContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .textarea{
        width: 320px;
    }

    .dropdownMenu {
        width: 320px;
    }
}

@media (min-width: 950px) {
    .translateContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .textarea{
        width: 380px;
    }

    .dropdownMenu {
        width: 380px;
    }
}

@media (min-width: 1150px) {
    .translateContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .textarea {
        width: 500px;
    }

    .dropdownMenu {
        width: 500px;
    }
}

