.profileImage {
  margin: 5px;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer
}

.countryImageWrapper {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  overflow: hidden;
  bottom: -5px; /* 7시 방향을 위해 위치 조정 */
  left: -5px;  /* 7시 방향을 위해 위치 조정 */
}

.country {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  /* width: 100%;
  height: 100%; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.imageMessage{
  max-width: 300px;
  max-height: 300px;
}

.messageRight{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chatTime{
  font-size: 10px; /* 작은 글씨 크기로 고정 */
  align-self: flex-start; /* 텍스트를 아래로 정렬 */
  margin:5px;
  justify-self: flex-end;

}