.cardWrapper {
    padding: 15px 15px 15px 15px;
    margin: 10px auto;
    position: relative;
    flex-shrink: 0;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    transition: width 1s, height 1s, box-shadow 1s;
    cursor: pointer;
}

.profileImage {
    margin-left: 3px;
    width: 50px;
    height: 50px;
}

.image {
    width: 100%;
    border-radius: 50%;
}

.profileText {
    padding:  20px 20px 20px 20px;
}

.userInfo{
    position: absolute;
    top: 10px;
    left: 80px;
}

.nicknameText {
    font-size: 13px;
    font-weight: bold;
}

.genderText {
    padding-top: 2px;
    margin-left: 2px;
}

.ageText {
    font-weight : bold;
    padding-top: 5px;
    font-size: 13px;
    margin-left: 3px;
}

.btn {
    position: absolute;
    top: 0px;
    left: 295px;
    width: 80px;
    height: 30px;
    font-weight: bold;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    background-color: #8BC765;
    color: #FFFFFF;
    /* padding: 5px 10px; */
    cursor: pointer;
}

.introduce {
    display: -webkit-box;
    height: 25px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 39px;
    left: 80px;
    width: 100px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: normal;
    word-wrap: break-word;
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    /* font-weight: bold; */
}
.time{
    display: -webkit-box;
    height: 25px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 39px;
    left: 205px;
    width: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: normal;
    word-wrap: break-word;
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    /* font-weight: bold; */
}

.introtext {
    color: #737373;
}