.card {
    display: inline-grid;
    color: white;
    transition: transform 0.3s; 
    transform: perspective(800px) rotateY(0deg);
    transform-style: preserve-3d;

    width: 200px;
    height: 300px;
}

.card > * {
    grid-area: 1 / 1 / 1 / 1;
    padding: 5px;
    border-radius: 8px;
    backface-visibility: hidden;
}

.profileImg {
    width: 190px;
    height: 190px;
    object-fit: cover;
}

.text {
    /* transform: rotate(-45deg); */
    position: absolute;
    font-size: 15px;
    top: 4px;
    right: 3px;
    /* color: #FFFFFF; */
}

.content {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px 5px;
}

.introduce {
    max-width: 140px;
    height: 30px;
    line-height: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.imageWrapper {
    min-width: 190px;
    max-width: 190px;
    position: relative;
}
 
.profileImageWrapper {
    min-width: 190px;
    max-width: 190px;
    height: 190px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.countryImageWrapper {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto 0px;

    position: absolute;
    top: 140px;
    left: 140px;
}

.country {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.closeButton {
    float: right;
}