.pop_container{
  width: 170px;
}

.title{
  padding: 10px 12px;
}

.tag_list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 4px;
  margin-bottom: -8px;
}

.tag_item{
  background-color: #eee; /* 블록 배경색 */
  border-radius: 5px; /* 둥근 모서리 */
  padding: 4px 8px; /* 내부 여백 */
  cursor: pointer; /* 클릭 가능한 항목 표시 */
  margin: 0 4px 10px 0;
}

.tag_btn{
  border: none;
}

.tag_name{
}

@media (max-width: 800px){
  
}