.page_layout {
  display: flex;
  height: calc(100vh - 60px); /* 헤더 높이를 제외한 높이 */
  background-color: #FBFBF3;
  width: auto;
}

.aside {
  width: 330px;
}

.asideTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;
  padding: 18px 20px;
}

.chatmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  border-left: 1px solid #E0E0E0;
}

.chatmainB {
  font-size: 14px;
  padding: 5px 15px;
  border: 0;
  border-radius: 9px;
  background-color: #0095F6;
  font-weight: bold;
  color: #FFFFFF;
}

/* aside {
  width: 30%;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  border-right: 1px solid black;
}

div {
  flex-grow: 1;
  overflow-y: auto;
} */

