.imageWrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
}

.profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgButton {
    display: flex;
    justify-content: center;
}

.imgDelete {
    width: 80px;
    margin-right: 15px;
}

.imgChange {
    width: 80px;
}

.label {
    min-width: 100px;
}

.selectedPurTag {
    margin-left: 3px;
    border-style: none;
    border-radius: 9px;
    background-color: #8BC765;
    padding: 7px 12px;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}

.introduceTextarea {
    height: 80px;
    resize: none;
}

.inputCount {
    color: #a0a0a0;
    font-size: 0.8rem;
    font-weight: bold;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}

.interest-tag {
    margin-left: 3px;
    border-style: none;
    border-radius: 9px;
    background-color: #e9ecef;
    padding: 7px 12px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #495057;
    margin-bottom: 0.3rem;
}

.interest-tag:hover {
    margin-left: 3px;
    border-style: none;
    border-radius: 9px;
    background-color: #408fff;
    padding: 7px 12px;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}

.selectedIntTag {
    margin-left: 3px;
    border-style: none;
    border-radius: 9px;
    background-color: #408fff;
    padding: 7px 12px;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}

.interest-tag-warning {
    color: red;
    margin-top: 7px;
    font-size: 0.7rem;
}

.setup-subTitle-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 5.0rem;
}

.finalPurpose {
    color: #a0a0a0;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 10px 0px 8px 0px;
}

.languageAdd {
    border-radius: 9px;
    background-color: #e9ecef;
    border: 0px;
}

.changeButton {
    width: 109px;
    height: 34px;
    margin-bottom: 20px;
    border-radius: 9px;
    background-color: #B7DAA1;
    border: 0px;
}

.buttonGroup {
    display: flex;
    justify-content: center;
}