.home-layout {
    background-color: #FBFBF3;
}

.home-nav-layout {
    margin-left: 88px;
    margin-right: 80px;

    /*background-color: antiquewhite;*/
}

.home-content-layout {
    min-height: 100vh;
    margin-left: 50px;
    margin-right: 50px;
    /*background-color: antiquewhite;*/
}

.nav-tab {
    margin-top: 20px;
    /*background-color: yellow;*/
}

.write-button {
    margin-top: 15px;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    background-color: lightgrey;
    padding: 7px 20px;
}

.write-button:hover {
    background-color: #a8c768;
}

.write-button:active {
    background-color: #c8dca0;
}

.select-style {
    margin-right: 15px;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-select:hover .ant-select-selector {
    border-color: #C8DCA0 !important;
    box-shadow: none !important;
    border-width: 2px;
}

/* 선택된 옵션의 배경색 변경 */
.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: #C8DCA0 !important;
}
