.home-layout {
    background-color: #FBFBF3;
    overflow-x: hidden; /* 가로 스크롤 숨김 */
}

.home-nav-layout {
    margin-left: 88px;
    margin-right: 80px;

    /*background-color: antiquewhite;*/
}

.infoText {
    color: #808080;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.home-content-layout {
    min-height: 100vh;
    margin-left: 50px;
    margin-right: 50px;
    /*background-color: antiquewhite;*/
}

.nav-tab {
    margin-top: 20px;
    /*background-color: yellow;*/
}

/* 기본 nav-link 스타일 */
.home-nav-layout .nav-link {
    color: grey !important;
}

/* 활성화된 탭에 대한 스타일 */
.nav-link.active {
    color: black !important;
}

.nav-icon-style {
    width: 23px;
    height: auto;
    margin-right: 7px;
}

.write-button {
    margin-top: 15px;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    background-color: lightgrey;
    padding: 7px 20px;
}

.write-button:hover {
    background-color: #a8c768;
}

.write-button:active {
    background-color: #c8dca0;
}