.search-layout {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.search-container {
    display: flex;
    justify-content: space-between; /* 내부 요소들을 양 끝으로 정렬 */
    align-items: center; /* 내부 요소들을 수직 중앙 정렬 */
    /* margin-top: 3.0rem; */
}

.searchWrap {
    border: 2px solid #e2e0e0;
    border-radius: 5px;
    background-color: white;
    position: relative;
    padding: 10px;
    flex-grow: 1;
}

.searchWrap:focus-within {
    border: 2px solid #8BC765;
}

.input-icon {
    position: absolute;
    top: 51%;
    left: 17px;
    transform: translateY(-50%);
    font-size: 20px; /* 아이콘 크기 */
}

.search-input {
    width: 100%;
    outline: none;
    border: none;
    height: 30px;
    padding-left: 40px;
    font-size: 0.9rem;
}

.search-input::placeholder {
    color: #c9c9c9;
}

.search-button {
    margin-left: 15px;
    padding: 13px 30px;
    border: none;
    border-radius: 5px;
    background-color: #8BC765;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.tag-container {
    display: flex;
    justify-content: space-between; /* 내부 요소들을 양 끝으로 정렬 */
    align-items: center; /* 내부 요소들을 수직 중앙 정렬 */
    margin-top: 0.7rem;
}

.tag-search-wrap {
    display: flex; /* Flexbox 레이아웃 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    border: 2px solid #e2e0e0;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    flex-grow: 1;
}

.tag-search-wrap:focus-within {
    border: 2px solid #8BC765;
}

.tags-display {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* 태그들을 세로 중앙에 정렬 */
    margin-right: 3px; /* 태그 영역과 입력창 사이의 간격 */
}

.tag-item {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 4px 7px 4px 9px;
    margin-right: 5px; /* 태그들 사이의 간격 */
    font-size: 0.9rem;
}

.tag-item:hover {
    background-color: #EAEAEA;
    color: #828282;
}

.tag-icon {
    margin-left: 7px;
    margin-right: 10px; /* 아이콘과 태그 영역 사이 간격 */
    font-size: 19px; /* 아이콘 크기 */
}

.remove-tag-icon {
    cursor: pointer;
    margin-left: 3px; /* 아이콘과 태그 사이의 간격 */
    font-size: 1rem; /* 아이콘 크기 조정 */
    margin-bottom: 3px;
}

.tag-input {
    outline: none;
    border: none;
    height: 30px;
    font-size: 0.9rem;
}

.tag-input::placeholder {
    color: #c9c9c9;
}

.reset-button {
    margin-left: 15px;
    padding: 13px 11px;
    border: none;
    border-radius: 5px;
    background-color: #FBFBF3;
    color: black;
    cursor: pointer;
    font-weight: 550;
    font-size: 0.9rem;
}

.reset-icon {
    margin-right: 10px;
    margin-bottom: 4px;
    font-size: 18px;
}

.total-elements {
    margin-top: 1.3rem;
}

.setSearchType {
    display: flex;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

.navDiv {
    margin-bottom: 30px;
}

.search-nav-item {
    padding: 0px 5px;
}

.elements {
    padding: 0px 3px;
}

