.comments-wrapper {
  padding-bottom: 50px;
  margin: 0 10px;
  .comments-header {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;

    .comments-header-textarea {
      flex: 1;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    button {
      margin-left: 0.5rem;
      font-size: 1.1rem;
    }
  }

  /*.commentsTranslateBtnWrap {
    display: flex;
    justify-content: flex-end;
  }

  .commentsTranslateBtn {
    font-weight: 400;
    font-size: 0.8rem;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #C8DCA0;
    padding: 5px 15px;
    color: black;
  }*/

  .comments-footer{
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    padding-bottom: 10px;
  }
}