.comments-wrapper {
  padding-bottom: 50px;
  margin: 0 10px;
  .comments-header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;

    .comments-header-textarea {
      flex: 1;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .comment-submit-Button {
      margin-left: 0.5rem;
      font-size: 1.03rem;
      font-weight: 550;
      border: none;
      border-radius: 5px;
      background-color: #8BC765;
      padding: 5px 17px;
      color: white;
    }

    .comment-submit-Button:hover {
      background-color: #89DE55;
    }

    .comment-submit-Button:active {
      background-color: #8BC765;
    }

    .comment-submit-Button:disabled {
      background-color: #dadada;
      color: white;
    }
  }

  .comments-footer{
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    padding-bottom: 10px;
  }

  .totalComments {
    font-size: 17px;
    font-weight: bold;
  }
}