.comments-wrapper {
  padding-bottom: 50px;
  margin: 0 10px;
  .comments-header {
    margin: 1rem 0;
    display: flex;

    .comments-header-textarea {
      flex: 1;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    button {
      margin-left: 0.5rem;
      font-size: 1.1rem;
    }
  }

  .comments-footer{
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    padding-bottom: 10px;
  }
}