.replyComments-wrapper {
  padding-bottom: 10px;
  //margin: 0 10px;

  .header-with-icon { /* 새로운 스타일 */
    display: flex; /* Flexbox를 사용하여 요소들을 가로로 배치 */
    align-items: flex-start;
    margin: 0.3rem 0;
    margin-left: 10px;
  }

  .reply-style {
    margin-left: 20px;
    margin-right: 10px;
  }

  .replyWrapper {
    width: 100%;
  }

  .replyComments-header {
    /*margin: 1rem 0;
    display: flex;*/
    display: flex;
    flex: 1;
    margin-bottom: 13px;

    .replyComments-header-textarea {
      flex: 1;
      margin-left: 10px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    button {
      margin-left: 0.5rem;
      font-size: 1.1rem;
    }
  }

  .replyComments-body {

    .replyComments-comment {
      padding: 0.5rem 0.3rem;

      .replyComments-username-wrap {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        .replyComments-username {
          font-weight: 600;
        }
      }

      .replyComments-content {
        // \n(엔터)를 태그 안의 텍스트에 적용
        white-space: pre-wrap;
        word-break: break-all;
        margin: 0.4rem auto;
        font-size: 0.95rem;
      }
    }

    .replyComments-bottom {
      display: flex;
      justify-content: space-between; /* 답글 버튼과 날짜를 양 끝으로 배치 */
      align-items: baseline;
      margin-top: 10px;
    }

    .replyComments-button {
      border: 1px solid lightgrey;
      //border-radius: 5px;
      background-color: #FBFBF3;
      padding: 3px 7px;
      color: black;
      font-size: 0.8rem;
    }

    .replyComments-date {
      color: lightgray;
      font-size: 0.9rem;
    }

    .hr-style {
      margin-bottom: 0;
      padding-bottom: 9px;
    }
  }
}