.content{

}

.content_header{
  display: flex;
  justify-content: space-between; /* 양쪽 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.content_sort_item{
  display: flex;

}

.sort_item{
  display: flex;
}

.sort_item_I{
  display: none;
}

.sort_item label{
  cursor: pointer;
  color: #adb5bd;
}

input[type=radio]:checked+label{
  color: #495057;;
}


.comment_write{
  display: flex;
  width: 100%;
}

.comment_input{
  width: 60%;
}

.input_box{
  border: none;
  width: 100%;
}
