.root{
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post_name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  min-width: 800px;
}
.post_content{
  display: flex;
}
.form{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.left, .right{
  /* flex: 1; */
  display: flex;
  flex-direction: column;
}

.left{
  margin-right: 20px;
}

.title_box{
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

.title_input{
  width: 100%;
  border: none;
  background-color: inherit;
}


.category_box{
  display: flex;
  border: 1px solid rgb(184, 184, 184);
}

.category{
  margin: 0;
  border: none;
}

.category_wrapper{
  padding : 10px 12px 5px 12px;
}

.category_btn{
  border: none;
  background: none;
}

.tags{
  margin: 10px 0;
}

.tag_box{
  border: 1px solid gray;
}

.tagInput{
  border: none;
}


.btns{
  display: flex;
  flex-direction: column;
}

.btn{
  width: 100%;
  margin: 10px 0;
}

.active {
  border-color: #007bff;
  background-color: #007bff;
  color: white;
}

.catNTags{
  display: flex;
  flex-direction: column;
}

@media (max-width :1000px){
  .post_content{
    flex-direction: column;
  }
  .left {
    margin-right: 0;
  }
  .right{
    margin-top: 20px;
    display: flex;
  }
  .tags{
    margin-top: 0;
  }
}