.background{
  /* margin-top: 40px; */
  display: flex;
  justify-content: center;

}
.menu{
  display: flex;
  /* gap: 42px; */
  margin-bottom: 20px;
}

.right_side{
  margin-left: 50px;
  margin-top: 80px;
}

.pop_tags{
  border: 1px solid #dee2e6;
  border-radius: 9px;
  margin-bottom: 10px;
}

.ranking_container{
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.statusbtn{
  background-color: transparent;
  border: none;
}

.statusbtn_selected{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid green;
}

.opt{
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.optbtn{
  background-color: rgb(200, 200, 200);
  border-radius: 15px;
  width: 70px;
  text-align: center;
}

.search_box{
  max-width: 800px;
}

.searchBar{
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
}
.search{
  background-color: transparent;
  width:200px;
  border: none;
}

.studyCards{
  display: flex;
  flex-wrap: wrap;
}

.study_container_header{
  max-width: 800px;
}

.click_post{
  text-decoration: none;
  color: inherit;
}

.question{
  display: flex;
  padding: 18px 0;
}

.sortBtn{
  display: flex;
  justify-content: space-between; /* 양 끝 정렬 */
  align-items: baseline;
}

.write{
  cursor: pointer;
  /* font-weight: 400; */
  /* margin-left: 10px; */
  margin-top: 15px;

  font-size: 15px;
  border: none;
  border-radius: 7px;
  background-color: lightgrey;
  padding: 7px 15px;
}

.study_list{
  list-style: none;
  padding: 0;
}

.question_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.study_container{
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boardList_footer{
  display: flex;
  justify-content: center;
}

.question_title{
  display: flex;
}

.title_text {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden; /* 넘치는 내용 숨김 */
  text-overflow: ellipsis; /* 말줄임표로 표시 */

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: normal;
  word-wrap: break-word;
}

.question_dt {
  margin-right: 3px;
}

/* 본문 내용 */
.question_body {
  font-size: 16px; /* 폰트 크기 */
  color: #666; /* 글씨 색상 */
  margin-bottom: 15px; /* 마진 */
  overflow: hidden; /* 넘치는 내용 숨김 */
  text-overflow: ellipsis; /* 말줄임표로 표시 */
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 최대 1줄까지만 표시 */
  -webkit-box-orient: vertical;
}

/* 정보 푸터 */
.question_info_footer {
  display: flex; /* 플렉스 박스 모델 사용 */
  justify-content: space-between; /* 양쪽 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.question_info_detail, .question_info_data {
  display: flex;
  align-items: center;
}

.question_info_data dl {
  display: flex;
  margin: 0;
}

.question_info_data dd {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 12px;
}

@media(max-width: 1000px){
  .background{
    /* margin-top: 40px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .right_side{
    visibility: hidden;
  }
}

@media(min-width: 1001px) {
  .search_box {
    min-width: 600px;
    width: 800px;
  }
}

.profileImageWrapper {
  display: flex;
  align-items: center;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

