.cardWrapper {
    padding: 15px 15px 15px 15px;
    /* margin: 15px auto; */
    /* position: relative; */
    flex-shrink: 0;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    background-color: #fff;
    display: flex;
    transition: width 1s, height 1s, box-shadow 1s;
    cursor: pointer;
}

.profileImage {
    margin-left: 7px;
    width: 150px;
    height: 150px;
}

.image {
    width: 100%;
    border-radius: 50%;
}

.profileText {
    padding:  20px 20px 10px 20px;
    display: flex;
    width: 370px;
    justify-content: space-between;
    position: relative;
}

.userInfo{
    display: flex;
}

.nicknameText {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 25px;
    font-weight: bold;
}

.genderText {
    padding-top: 2px;
    margin-left: 5px;
}

.ageText {
    padding-top: 5px;
    font-size: 13px;
    margin-left: 3px;
}

.btn {
    cursor: pointer;
    border-radius: 8px;
    background-color: #B7DAA1;
    border: 0;
    margin-left: 20px;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
}

.right {
    display: flex;
    flex-direction: column;
}

.introduce {
    padding-left: 20px;
    height: 80px;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: normal;
    word-wrap: break-word;
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    /* font-weight: bold; */
}

.introtext {
    color: #737373;
}

.imageWrapper {
    margin-left: 15px;
    min-width: 150px;
    max-width: 150px;
    position: relative;
    margin-right: 20px;
}
 
.profileImageWrapper {
    min-width: 150px;
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.countryImageWrapper {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto 0px;

    position: absolute;
    top: 90px;
    left: -4px;
}

.country {
    width: 100%;
    height: 100%;
    object-fit: cover;
}